In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('Book3.csv')
data.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
data.drop(columns=['Image-URL-S', 'Image-URL-M','Image-URL-L'], axis = 1, inplace = True)

In [5]:
data.tail()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
7975,877790388,Webster's Legal Speller,Springfiel,1978,Merriam Webster
7976,771065175,A Short History of Canada,Desmond Morton,1997,McClelland &amp; Stewart Ltd
7977,451521293,"Twelfth Night, Or, What You Will (Signet Class...",William Shakespeare,1991,Signet Classics
7978,385324138,The Outlandish Companion,DIANA GABALDON,1999,Delacorte Press
7979,679436332,Blake: Poems (Everyman's Library Pocket Poets),William Blake,1994,Everyman's Library

In [6]:
data.shape

(7980, 5)

In [7]:
data.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

In [8]:
data.dropna(axis=0, inplace=True)

In [9]:
data.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

In [10]:
data.duplicated().sum()

0

In [11]:
data.shape

(7980, 5)

In [12]:
data['ISBN']

0       195153448
1         2005018
2        60973129
3       374157065
4       393045218
          ...
7975    877790388
7976    771065175
7977    451521293
7978    385324138
7979    679436332
Name: ISBN, Length: 7980, dtype: object

In [13]:
data['Book-Title'].duplicated().sum()

308

In [14]:
data['Book-Author'].duplicated().sum()

3249

In [15]:
book_data = ['Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

vector = TfidfVectorizer(stop_words='english')

matrix = vector.fit_transform(data)

In [17]:
matrix

<5x7 sparse matrix of type '<class 'numpy.float64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [18]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(matrix)

In [19]:
similarity

array([[1.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 1.        , 0.39427569, 0.        , 0.        ],
       [0.        , 0.39427569, 1.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 1.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 1.        ]])

In [20]:
def book_recommend(book_data, top_n=10):
    
    index = data[data['Book-Title'] == data].index[0]
    
    distance = sorted(list(enumerate(similarity[index])), reverse=True, key=lambda x: x[1])
    
    book_indices = [i[0] for i in distance[1:top_n+1]]
    
    return data['Book-Title'].iloc[book_indices]

In [21]:

book_data = book_recommend('The Mummies of Urumchi')
book_data

<ipython-input-20-7954de5bb8df>:3: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  index = data[data['Book-Title'] == data].index[0]

1                                         Clara Callan
2                                 Decision in Normandy
3    Flu: The Story of the Great Influenza Pandemic...
4                               The Mummies of Urumchi
Name: Book-Title, dtype: object

In [22]:
n

NameError: name 'n' is not defined

In [ ]:
import pickle

pickle.dump(data,open('book_dict.pkl', 'wb'))
pickle.dump(similarity, open('similarity.pkl', 'wb'))