## Importing Libraries

In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [132]:

pd.set_option('display.max_columns', None)
data = pd.read_csv('Life Expectancy Data.csv')
data.head(5)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [133]:
data.shape

(2938, 22)

In [134]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [135]:
data.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

## Filling Missing Values

In [136]:
data.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [137]:
data.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [138]:
data['Life expectancy '].fillna(data['Life expectancy '].mean(), inplace=True)

data['Adult Mortality'].fillna(data['Adult Mortality'].mean(), inplace=True)

data['Alcohol'].fillna(data['Alcohol'].mean(), inplace=True)

data['Hepatitis B'].fillna(data['Hepatitis B'].mean(), inplace=True)

data[' BMI '].fillna(data[' BMI '].mean(), inplace=True)

data['Polio'].fillna(data['Polio'].mean(), inplace=True)

data['Total expenditure'].fillna(data['Total expenditure'].mean(), inplace=True)

In [139]:
data['Diphtheria '].fillna(data['Diphtheria '].mean(), inplace=True)

data['GDP'].fillna(data['GDP'].mean(), inplace=True)

data['Population'].fillna(data['Population'].mean(), inplace=True)

data[' thinness  1-19 years'].fillna(data[' thinness  1-19 years'].mean(), inplace=True)

data[' thinness 5-9 years'].fillna(data[' thinness 5-9 years'].mean(), inplace=True)

data['Income composition of resources'].fillna(data['Income composition of resources'].mean(), inplace=True)

data['Schooling'].fillna(data['Schooling'].mean(), inplace=True)

In [140]:
data.duplicated().sum()

0

In [141]:
data.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2.938000e+03,2938.000000,2938.000000,2938.000000,2938.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.938190,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.507640,124.080302,117.926501,3.916288,1987.914858,22.586855,11467.272489,19.927677,160.445548,23.352143,2.400274,23.640073,5.077785,13136.800417,5.381546e+07,4.394535,4.482708,0.204820,3.264381
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.370000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.200000,74.000000,0.000000,1.092500,4.685343,80.940461,0.000000,19.400000,0.000000,78.000000,4.370000,78.000000,0.100000,580.486996,4.189172e+05,1.600000,1.600000,0.504250,10.300000
50%,2008.000000,72.000000,144.000000,3.000000,4.160000,64.912906,87.000000,17.000000,43.000000,4.000000,93.000000,5.938190,93.000000,0.100000,3116.561755,3.675929e+06,3.400000,3.400000,0.662000,12.100000
75%,2012.000000,75.600000,227.000000,22.000000,7.390000,441.534144,96.000000,360.250000,56.100000,28.000000,97.000000,7.330000,97.000000,0.800000,7483.158469,1.275338e+07,7.100000,7.200000,0.772000,14.100000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.600000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [142]:
data['Country'].nunique()

193

In [143]:
data['Country'].value_counts()

Guinea-Bissau            16
Kenya                    16
Cyprus                   16
Honduras                 16
Philippines              16
                         ..
Saint Kitts and Nevis     1
Cook Islands              1
Monaco                    1
San Marino                1
Palau                     1
Name: Country, Length: 193, dtype: int64

In [144]:
data['Status'].value_counts()

Developing    2426
Developed      512
Name: Status, dtype: int64

In [145]:

data['Status'] = data['Status'].replace({'Developing' : '0', 'Developed' : '1'})

In [146]:
data.sample(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2393,South Africa,2015,0,62.9,328.0,42,4.602861,0.000000,75.000000,17,51.1,52,75.0,5.93819,75.0,3.6,5769.772580,5.511977e+06,4.4,5.3,0.665000,13.000000
1647,Malta,2002,1,78.2,75.0,0,5.730000,1552.740429,80.940461,7,63.4,0,95.0,7.86000,95.0,0.1,11843.939200,3.959690e+05,0.7,0.7,0.786000,13.800000
1022,Ghana,2003,0,57.9,38.0,41,1.530000,31.094353,8.000000,1939,21.2,63,8.0,3.12000,8.0,3.4,373.281554,2.446782e+06,8.6,8.5,0.489000,7.900000
596,Comoros,2011,0,62.2,241.0,2,0.120000,59.659650,83.000000,3,22.1,2,85.0,6.10000,83.0,0.2,829.758688,7.656900e+04,7.0,6.8,0.479000,10.600000
2003,Paraguay,2003,0,71.7,166.0,4,6.640000,155.423308,86.000000,0,41.3,4,86.0,5.99000,86.0,0.1,1174.779347,5.679500e+04,2.4,2.3,0.642000,12.700000
960,Gabon,2001,0,59.8,37.0,2,9.290000,183.698078,80.940461,5129,28.7,3,44.0,3.23000,45.0,10.1,3976.148870,1.262259e+06,7.8,7.7,0.633000,12.300000
2661,Trinidad and Tobago,2003,0,69.3,191.0,0,5.530000,78.722161,76.000000,0,36.0,1,91.0,5.13000,91.0,0.5,884.518666,1.284520e+05,6.4,6.9,0.729000,12.000000
717,Democratic People's Republic of Korea,2003,0,68.1,165.0,12,3.130000,0.000000,27.000000,0,26.7,15,99.0,5.93819,68.0,0.1,7483.158469,1.275338e+07,5.8,5.8,0.627551,11.992793
1845,New Zealand,2015,1,81.6,66.0,0,8.700000,0.000000,92.000000,10,67.5,0,92.0,5.93819,92.0,0.1,3821.893700,1.275338e+07,0.4,0.3,0.913000,19.200000
39,Algeria,2008,0,74.1,126.0,20,0.460000,43.087173,91.000000,217,51.8,23,92.0,4.20000,93.0,0.1,495.254866,3.486715e+06,6.0,5.9,0.697000,12.600000

In [209]:
# one hot encoding for column 'Country'

from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()

data['Country'] = ohe.fit_transform(data['Country'].values.reshape(-1, 1)).toarray()

In [148]:
data.sample(5)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
682,0.0,2006,1,78.8,64.0,0,11.470000,1700.841534,93.0,0,55.8,0,97.0,6.28000,97.0,0.1,27169.992560,1.455900e+04,0.9,1.0,0.829000,13.400000
2378,0.0,2014,0,54.3,321.0,51,0.010000,0.000000,42.0,10229,23.8,80,47.0,5.93819,42.0,0.8,417.891430,1.275338e+07,6.7,6.5,0.627551,11.992793
9,1.0,2006,0,57.3,295.0,84,0.030000,17.171518,64.0,1990,14.7,116,58.0,7.43000,58.0,0.1,272.563770,2.589345e+06,19.2,19.3,0.405000,8.100000
533,0.0,2010,0,51.2,364.0,46,0.500000,43.573289,39.0,194,17.1,80,43.0,2.95000,39.0,4.1,896.569734,1.188722e+06,9.4,9.3,0.360000,6.700000
2265,0.0,2015,0,75.6,121.0,1,4.602861,0.000000,94.0,383,6.0,1,95.0,5.93819,95.0,0.1,5237.255334,7.953830e+05,2.0,2.0,0.775000,14.400000

## Train Test Split

In [149]:
X = data.drop('Life expectancy ', axis=1)
y = data['Life expectancy ']

In [150]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=5)

Standardization

In [194]:
from sklearn.preprocessing import StandardScaler

sd = StandardScaler()

Xtrain_scaled = sd.fit_transform(Xtrain)
Xtest_scaled = sd.fit_transform(Xtest)

## Linear Regression Model

In [195]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(Xtrain, ytrain)

LinearRegression()

In [196]:
ypred = lr.predict(Xtest)

In [197]:
ypred

array([63.28518952, 75.50291448, 69.47646045, 61.21320233, 71.07284298,
       77.10447016, 72.45355289, 60.889196  , 74.1826046 , 69.51177441,
       52.93336296, 69.15811961, 70.76842304, 60.78659403, 73.23509994,
       54.48375012, 78.94834173, 52.14828964, 67.18594282, 76.8939475 ,
       74.8215977 , 78.72626012, 70.86246681, 68.30072951, 63.42115046,
       69.80343926, 74.97158984, 71.87593743, 78.64730152, 58.67459308,
       74.11871153, 72.91153736, 74.2409326 , 72.36779272, 64.18025096,
       57.66872358, 62.32564091, 76.60039179, 75.27136068, 58.9486318 ,
       78.30269938, 57.99585052, 80.78748567, 74.51310668, 72.05729481,
       72.16766643, 73.98715021, 61.24980612, 72.58380137, 76.83190006,
       78.85959665, 86.23606142, 76.45277078, 75.42954289, 63.1112499 ,
       64.25114404, 62.9753423 , 81.0101891 , 70.76735268, 69.72366639,
       61.4981073 , 72.23232313, 55.27540003, 74.56092714, 71.44492733,
       70.34905032, 75.42477516, 54.71037103, 68.4741764 , 72.43793645,
       75.7749354 , 81.52585242, 70.1709564 , 61.54344099, 59.00483681,
       78.88379591, 64.25645949, 61.22328768, 85.12433709, 61.42791464,
       68.91132893, 48.37721809, 64.42528965, 70.80734023, 67.86293328,
       61.76923521, 72.98423681, 75.19129854, 74.46726314, 53.65106253,
       68.09421533, 71.41263896, 71.2483868 , 72.20636996, 66.94150999,
       57.58568961, 70.17396913, 78.23500627, 78.46214531, 79.4458003 ,
       59.08459415, 61.38198311, 69.6544315 , 73.26833795, 68.1140106 ,
       71.12768127, 77.05361855, 71.51094093, 48.01202674, 66.03373994,
       81.68342586, 59.35266509, 66.70332216, 72.71884803, 79.07301165,
       57.98476422, 74.64077602, 65.1375384 , 49.55381367, 69.25885397,
       62.42397751, 57.46706489, 69.10258934, 72.98394189, 71.38929584,
       73.75026708, 80.54371222, 80.42187347, 77.14274384, 67.89349225,
       78.53679885, 72.86659293, 77.27010522, 60.22346813, 73.03193698,
       70.63731849, 53.28530434, 69.00905937, 63.1002511 , 81.25661372,
       74.06968167, 74.2422445 , 75.84201126, 73.27508736, 68.27233275,
       68.66212585, 59.31653705, 77.11068484, 72.58201426, 73.78033654,
       47.4169464 , 69.76583041, 71.72544901, 71.00579828, 81.84061189,
       75.66374152, 74.43110196, 64.83385462, 74.87618606, 66.03752408,
       82.78542691, 75.01728424, 48.74268087, 66.31761796, 75.85428107,
       71.49276419, 65.80331173, 82.64363469, 75.58681486, 54.19324847,
       74.13070021, 75.73015897, 51.28511645, 75.3451588 , 52.80548404,
       77.2014894 , 79.89590336, 73.27452328, 69.49749229, 74.16636905,
       76.21279781, 59.76510872, 73.7273193 , 76.04747625, 64.79375585,
       70.46237963, 76.6511554 , 79.96509339, 68.40067893, 78.79160667,
       66.67188337, 72.82096245, 71.06611205, 53.66594971, 66.90724032,
       58.74899048, 76.23639042, 50.06251668, 68.71806259, 71.32458532,
       58.10982495, 80.23897394, 63.88507308, 70.46083698, 82.40103798,
       70.68062435, 63.6495889 , 57.82697602, 48.56930185, 80.50927679,
       57.57378386, 74.59925018, 59.18563201, 62.30581738, 59.25262514,
       67.57042116, 68.98132843, 71.87377442, 59.83525918, 56.12332795,
       80.62825135, 47.19815981, 67.54363802, 68.24852966, 71.12637153,
       80.93086439, 76.82778023, 74.01067151, 56.93097227, 71.17527124,
       62.42783671, 73.46155951, 80.82385284, 60.86298798, 66.72097176,
       69.19588221, 69.2474993 , 62.33064447, 55.65311256, 71.28456325,
       60.27682964, 81.82271594, 77.26135432, 72.06610861, 56.51037293,
       74.45888412, 76.00603419, 71.98661774, 78.63353719, 75.74750908,
       75.27360516, 71.91983517, 75.99784163, 60.16138695, 65.30138854,
       67.88430826, 61.82204424, 68.93917732, 69.97321752, 75.11772299,
       75.18615109, 73.81547191, 78.41155408, 83.58915293, 78.50702557,
       56.37609413, 58.186338  , 66.24095096, 71.72919827, 62.06077549,
       56.82565389, 57.66240047, 53.88898787, 72.38366459, 78.11065164,
       63.22459305, 60.05129006, 73.34170034, 70.96954176, 73.31798972,
       65.96817168, 61.45888932, 72.93696758, 72.84117351, 71.38429065,
       73.32390514, 64.42879088, 71.52314653, 60.45646663, 79.26953847,
       76.2166628 , 52.11037978, 64.85603319, 78.08348875, 52.32102679,
       73.97307084, 55.52344862, 81.8481628 , 72.81103936, 70.56282019,
       70.77548963, 69.98297333, 68.96673509, 65.1957166 , 76.69062965,
       70.80466001, 78.43464575, 78.04465746, 73.07481165, 64.57053025,
       60.38483573, 73.70803872, 71.57620905, 72.30899713, 49.02207726,
       71.14539201, 73.59410951, 59.02108112, 74.69198059, 77.48712073,
       76.998002  , 79.43446928, 59.02646958, 71.2812164 , 70.99503133,
       63.84348555, 45.08907337, 70.39015349, 76.07016471, 68.95940973,
       76.22721914, 64.27513423, 76.7074362 , 35.12634601, 75.37119183,
       80.28423617, 75.6959333 , 76.28908221, 70.86629321, 61.83132217,
       58.0399769 , 79.3951997 , 80.63837044, 80.11086826, 72.04893583,
       77.46206365, 78.44616827, 70.99722819, 51.40607409, 76.6636881 ,
       78.25376767, 75.57884097, 72.55450388, 73.12642336, 74.3757494 ,
       77.09327935, 66.51338933, 80.52378568, 71.15697012, 70.67756283,
       59.8199975 , 76.60147602, 68.74221728, 79.17684613, 35.66413502,
       72.20211715, 61.0586134 , 72.60824938, 79.62184303, 70.76084916,
       62.56477884, 74.25329316, 68.81524615, 73.73677329, 73.11182769,
       73.08240221, 61.75869628, 50.68289925, 52.85800519, 51.98307871,
       75.4468136 , 74.51230175, 77.7102213 , 58.65349476, 75.83510448,
       77.13715125, 75.90239861, 75.70821831, 62.31199994, 74.10537513,
       68.38026148, 69.75160985, 65.26313513, 69.77074676, 62.96972895,
       73.74145118, 73.15084933, 73.26666468, 75.9586666 , 80.53955148,
       77.44727691, 81.69412261, 54.7647121 , 77.21214318, 65.25002194,
       74.35420663, 76.40235706, 66.90399116, 74.35320172, 78.25528875,
       74.55539483, 83.6794307 , 71.41180468, 46.45485455, 70.33870337,
       72.51826752, 60.63252867, 75.55510306, 68.67804625, 74.66903002,
       59.79496903, 77.80268232, 60.21153547, 68.17856833, 56.33687677,
       48.48603777, 64.24152697, 69.02003895, 70.52213512, 76.37520164,
       71.77109658, 72.11444374, 73.26576485, 63.81021436, 73.82712208,
       77.62952383, 70.12977146, 39.02786491, 71.6432057 , 65.37086501,
       74.66190285, 60.40736428, 68.82957472, 78.07507508, 79.16388513,
       70.69397893, 61.74549688, 79.82853549, 63.69430404, 78.86853306,
       63.50457083, 63.37220973, 65.91133959, 70.88961243, 73.14407416,
       50.124036  , 62.88886006, 64.72731558, 54.48317168, 67.56015736,
       57.29320349, 77.94120435, 56.96924292, 66.59049297, 60.91309079,
       77.73251654, 61.8702925 , 60.17274198, 69.89416109, 76.51664525,
       72.33532384, 67.15850858, 73.85879007, 58.25672927, 77.67641419,
       74.44672551, 71.68472851, 82.82812276, 77.83514463, 59.99433553,
       53.27617189, 51.86940313, 78.35949988, 71.57833679, 72.92872093,
       76.85426398, 82.11910499, 77.54123225, 70.24725438, 69.0075917 ,
       72.76317759, 76.29537794, 53.42608732, 82.40448509, 82.86518983,
       72.7588333 , 74.82540751, 74.439905  , 67.2707402 , 64.43338465,
       76.94214773, 74.50391327, 74.45070812, 68.229319  , 77.1090309 ,
       65.38175225, 85.49099555, 43.49045925, 60.32443995, 71.11730136,
       73.60092753, 74.98602265, 48.90988139, 76.85824272, 75.41780826,
       62.94004337, 63.87866299, 70.93226002, 80.70940262, 63.02551585,
       70.27786175, 62.07708304, 77.03909999, 76.13793528, 71.74923487,
       61.76057472, 60.11804761, 69.60451071, 72.80511978, 69.86293586,
       45.19783721, 70.40584188, 62.3879757 , 69.45175609, 68.70340277,
       59.60489125, 69.39884912, 74.09372247, 79.78468232, 64.78677562,
       73.29272691, 59.03731631, 79.19073569, 67.82228186, 74.64907716,
       75.75054665, 80.94095262, 64.2904717 , 70.57837257, 74.39184307,
       73.33274972, 62.86578095, 72.78674163, 71.30826339, 54.74405692,
       52.01599361, 55.70071129, 73.73944605, 77.51026634, 64.27909921,
       83.06896983, 68.68034621, 45.33266004, 53.76707396, 64.53771326,
       78.78745336, 70.11808162, 57.14916815, 63.08061296, 73.29418467,
       72.48987563, 53.32642527, 58.50059266, 75.59977931, 80.55940991,
       76.47984536, 55.59324704, 50.56482272, 62.98093809, 68.32222104,
       63.75159638, 84.40719356, 55.85585532, 66.36852555, 76.16940208,
       76.68930151, 72.06855952, 80.31174162])

In [198]:
ytest

1499    56.7
1931    75.6
2556    68.8
2856    69.1
2731    78.0
        ...
470     66.1
64      76.4
1394    74.7
2095    79.8
2521    83.4
Name: Life expectancy , Length: 588, dtype: float64

In [199]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

r2_score(ytest, ypred)

0.8294024338120441

In [200]:
mean_squared_error(ytest, ypred)

15.231203167377322

In [201]:
mean_absolute_error(ytest, ypred)

2.9194284283405807

## Decision Tree Regressor

In [202]:
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor(max_depth=10)

dt.fit(Xtrain, ytrain)

DecisionTreeRegressor(max_depth=10)

In [203]:
ypred = dt.predict(Xtest)

In [204]:
ypred

array([58.05714286, 74.08793103, 71.2952381 , 69.55      , 74.55789474,
       74.08793103, 71.325     , 64.3       , 65.1       , 71.2952381 ,
       48.2       , 67.10666667, 73.14411765, 68.        , 76.60555556,
       59.5       , 82.        , 52.24      , 65.26666667, 74.55789474,
       73.43214286, 78.9       , 68.925     , 67.15806452, 62.55757576,
       67.8       , 74.55789474, 67.7       , 73.        , 63.74137931,
       73.34      , 75.31111111, 68.4       , 76.60555556, 63.5       ,
       54.8       , 62.9       , 77.3       , 74.08793103, 63.34      ,
       82.        , 59.        , 81.        , 74.55789474, 72.25      ,
       73.42539683, 71.26666667, 56.14      , 74.55789474, 76.60555556,
       78.75      , 82.4       , 71.9       , 75.46956522, 54.        ,
       63.74137931, 61.83333333, 86.75      , 65.        , 67.15806452,
       64.0625    , 72.25762112, 59.6       , 77.84705882, 72.18709677,
       74.08793103, 74.55789474, 57.        , 69.4       , 85.4       ,
       77.84705882, 81.675     , 74.8       , 63.74137931, 57.54210526,
       81.85      , 68.        , 58.05714286, 81.54545455, 52.58333333,
       74.55789474, 52.4       , 65.66      , 73.43214286, 69.55      ,
       55.9       , 74.55789474, 74.08793103, 74.55789474, 54.14      ,
       68.925     , 73.42539683, 73.14411765, 75.31111111, 68.05      ,
       65.        , 68.92939569, 75.4       , 79.2       , 75.4       ,
       49.6       , 57.74545455, 71.2952381 , 72.18709677, 67.725     ,
       69.825     , 75.46956522, 68.92939569, 48.55      , 72.96      ,
       84.41      , 56.75833333, 65.80816327, 73.14411765, 81.75357143,
       63.        , 77.84705882, 69.3       , 52.58333333, 68.05      ,
       58.05714286, 56.75833333, 73.42539683, 73.33846154, 68.92939569,
       74.08793103, 77.825     , 79.8       , 74.08793103, 65.80816327,
       75.4       , 73.42539683, 74.55789474, 57.54210526, 73.33846154,
       71.2952381 , 56.8       , 72.25762112, 68.        , 78.9       ,
       74.55789474, 74.55789474, 75.46956522, 71.2952381 , 68.92939569,
       67.15806452, 54.5       , 81.575     , 78.        , 73.88333333,
       52.2       , 73.42539683, 74.55789474, 71.325     , 82.12631579,
       75.46956522, 74.55789474, 67.        , 69.825     , 65.80816327,
       82.        , 75.46956522, 52.4       , 66.5       , 73.43214286,
       74.55789474, 65.80816327, 82.91666667, 72.6       , 45.8       ,
       74.08793103, 74.08793103, 53.6       , 75.95882353, 60.        ,
       76.55789474, 78.        , 75.95882353, 73.33846154, 67.96666667,
       79.45454545, 59.6       , 74.08793103, 85.4       , 65.66      ,
       72.96      , 77.        , 79.6       , 73.66      , 79.32      ,
       67.15806452, 72.25762112, 67.78181818, 58.05      , 67.725     ,
       52.58333333, 75.31111111, 51.5       , 73.42539683, 72.25762112,
       54.14      , 84.41      , 64.0625    , 74.11428571, 81.225     ,
       72.25762112, 54.8       , 54.4       , 53.7       , 81.        ,
       56.1       , 73.43214286, 54.04      , 66.5       , 58.74      ,
       77.        , 72.25762112, 73.33846154, 56.14      , 52.24      ,
       79.45454545, 46.8       , 78.        , 77.        , 67.96666667,
       78.1       , 74.55789474, 73.33846154, 55.1       , 69.55      ,
       63.74137931, 75.95882353, 79.71      , 63.        , 71.2952381 ,
       73.42539683, 66.2       , 64.2       , 58.6       , 68.92939569,
       56.75833333, 82.        , 79.425     , 73.3       , 45.8       ,
       74.08793103, 74.08793103, 69.825     , 77.6       , 74.55789474,
       74.16666667, 74.        , 75.95882353, 57.35      , 63.2       ,
       67.725     , 62.55757576, 74.55789474, 72.25762112, 74.55789474,
       74.55789474, 74.08793103, 76.86666667, 82.12631579, 83.        ,
       48.55      , 56.        , 65.80816327, 69.825     , 63.74137931,
       59.        , 54.5       , 54.14      , 74.55789474, 77.825     ,
       61.2       , 54.5       , 72.18709677, 69.28333333, 73.42539683,
       65.66      , 67.        , 75.95882353, 73.33846154, 68.92939569,
       74.55789474, 63.74137931, 67.7       , 56.8       , 81.75357143,
       75.46956522, 53.62307692, 65.80816327, 81.75357143, 53.62307692,
       71.26666667, 51.00769231, 81.225     , 75.31111111, 67.96666667,
       63.95      , 67.8       , 73.66      , 62.55757576, 75.95882353,
       68.18333333, 74.55789474, 75.46956522, 73.33846154, 64.4       ,
       52.        , 74.55789474, 67.15806452, 73.42539683, 53.7       ,
       67.6       , 74.55789474, 63.2       , 87.        , 77.84705882,
       77.825     , 76.55789474, 61.91428571, 78.        , 71.2952381 ,
       62.55757576, 51.25      , 72.25762112, 79.45454545, 73.42539683,
       74.08793103, 68.85      , 74.55789474, 47.65      , 75.95882353,
       72.4       , 79.45454545, 72.48333333, 73.14411765, 67.96666667,
       61.4       , 74.55789474, 78.5       , 79.8       , 74.08793103,
       75.95882353, 77.825     , 72.96      , 49.8       , 77.825     ,
       82.12631579, 73.88333333, 72.02105263, 74.08793103, 67.88      ,
       74.08793103, 67.725     , 82.12631579, 74.08793103, 73.42539683,
       63.34      , 78.8       , 73.42539683, 79.71      , 44.6       ,
       73.42539683, 45.8       , 78.7       , 79.45454545, 71.2952381 ,
       65.80816327, 78.9       , 77.        , 73.14411765, 74.08793103,
       75.95882353, 63.74137931, 57.6       , 55.1       , 46.95      ,
       75.46956522, 78.53333333, 82.12631579, 48.33333333, 81.225     ,
       74.55789474, 75.95882353, 74.55789474, 52.        , 67.96666667,
       71.275     , 65.        , 69.825     , 67.8       , 65.66      ,
       79.45454545, 74.55789474, 74.08793103, 75.95882353, 80.975     ,
       77.5       , 81.75357143, 61.91428571, 81.675     , 63.74137931,
       74.08793103, 74.08793103, 65.80816327, 73.88333333, 76.975     ,
       74.55789474, 80.975     , 73.42539683, 52.4       , 67.15806452,
       77.        , 69.        , 78.7       , 65.80816327, 75.46956522,
       68.        , 79.32      , 59.6       , 65.98571429, 56.2       ,
       52.4       , 62.55757576, 65.66      , 78.7       , 72.        ,
       74.11428571, 72.9       , 72.18709677, 62.55757576, 74.55789474,
       73.5       , 71.2952381 , 45.48      , 72.25762112, 71.7       ,
       75.95882353, 57.54210526, 69.4       , 75.4       , 81.        ,
       73.42539683, 54.04      , 82.        , 65.80816327, 74.55789474,
       62.07      , 61.81428571, 65.80816327, 72.18709677, 78.        ,
       44.3       , 63.74137931, 68.        , 56.1       , 67.15806452,
       45.8       , 79.32      , 56.2       , 67.96666667, 52.58333333,
       84.41      , 63.74137931, 58.05714286, 69.32857143, 75.95882353,
       67.96666667, 69.55      , 65.1       , 56.2       , 82.12631579,
       72.25762112, 73.88333333, 82.        , 75.4       , 65.        ,
       55.3       , 51.00769231, 82.12631579, 73.33846154, 74.55789474,
       74.55789474, 82.        , 76.55789474, 65.80816327, 73.42539683,
       73.42539683, 79.32      , 52.        , 81.225     , 82.        ,
       68.4       , 75.31111111, 74.55789474, 65.66      , 64.2       ,
       75.95882353, 65.8       , 74.08793103, 72.25762112, 75.95882353,
       67.78181818, 80.975     , 51.25      , 63.26666667, 77.825     ,
       74.55789474, 74.55789474, 51.86666667, 79.71      , 72.48333333,
       61.91428571, 63.34      , 73.42539683, 79.93333333, 62.9       ,
       69.825     , 66.5       , 75.46956522, 74.55789474, 72.25762112,
       63.74137931, 56.75833333, 67.15806452, 73.42539683, 71.2952381 ,
       46.        , 73.42539683, 64.0625    , 67.725     , 72.18709677,
       52.        , 69.3       , 74.08793103, 79.45454545, 66.        ,
       73.33846154, 54.04      , 78.75      , 69.55      , 72.96      ,
       79.05      , 78.12222222, 54.5       , 64.66666667, 74.55789474,
       73.33846154, 64.0625    , 73.33846154, 74.08793103, 55.375     ,
       53.62307692, 45.8       , 73.14411765, 75.95882353, 59.7       ,
       84.66666667, 65.98571429, 44.6       , 48.68333333, 62.98571429,
       77.3       , 69.28333333, 52.24      , 62.55757576, 74.55789474,
       69.7       , 52.2       , 56.75833333, 75.95882353, 79.3       ,
       74.08793103, 63.        , 56.75833333, 65.80816327, 65.80816327,
       58.05714286, 82.12631579, 54.04      , 67.10666667, 74.55789474,
       74.55789474, 79.2       , 82.12631579])

In [205]:
ytest

1499    56.7
1931    75.6
2556    68.8
2856    69.1
2731    78.0
        ...
470     66.1
64      76.4
1394    74.7
2095    79.8
2521    83.4
Name: Life expectancy , Length: 588, dtype: float64

In [206]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

r2_score(ytest, ypred)

0.9235879679360937

In [207]:
mean_squared_error(ytest, ypred)

6.822179300701393

In [208]:
mean_absolute_error(ytest, ypred)

1.6469054700117767