## importing Libraries

In [75]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [35]:
data = pd.read_csv("winequalityN_datasets.csv")
data.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [36]:
data.shape

(6497, 13)

In [37]:
data.isnull().sum()

type                     0
fixed acidity           10
volatile acidity         8
citric acid              3
residual sugar           2
chlorides                2
free sulfur dioxide      0
total sulfur dioxide     0
density                  0
pH                       9
sulphates                4
alcohol                  0
quality                  0
dtype: int64

In [76]:
# some columns have missing values so replace the Nan values with the mean

In [38]:
data['fixed acidity'].fillna(data['fixed acidity'].mean(), inplace=True)

data['citric acid'].fillna(data['citric acid'].mean(), inplace=True)

data['residual sugar'].fillna(data['residual sugar'].mean(), inplace=True)

In [39]:
data['pH'].fillna(data['pH'].mean(), inplace=True)

data['volatile acidity'].fillna(data['volatile acidity'].mean(), inplace=True)

data['sulphates'].fillna(data['sulphates'].mean(), inplace=True)

data['chlorides'].fillna(data['chlorides'].mean(), inplace=True)

In [40]:
data.isnull().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [41]:
data.duplicated().sum()

1168

In [42]:
# there are so many duplicate rows so will drop this all rows

data = data.drop_duplicates(inplace=False)

In [43]:
data.shape

(5329, 13)

In [60]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5329 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  5329 non-null   object
 1   fixed acidity         5329 non-null   float64
 2   volatile acidity      5329 non-null   float64
 3   citric acid           5329 non-null   float64
 4   residual sugar        5329 non-null   float64
 5   chlorides             5329 non-null   float64
 6   free sulfur dioxide   5329 non-null   float64
 7   total sulfur dioxide  5329 non-null   float64
 8   density               5329 non-null   float64
 9   pH                    5329 non-null   float64
 10  sulphates             5329 non-null   float64
 11  alcohol               5329 non-null   float64
 12  quality               5329 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 582.9+ KB

In [56]:
data['type'].unique()

array(['white', 'red'], dtype=object)

In [58]:
# replacing the values of 'white' and 'red' with '0' & '1' respectively

data['type'] = data['type'].replace({'white': '0', 'red': '1'})

In [59]:
data['type'].unique()

array(['0', '1'], dtype=object)

## Train_Test_Split

In [53]:
X = data.drop('type', axis = 1)
y = data['type']

In [54]:
from sklearn.model_selection import train_test_split

Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=0.2, random_state=5)

## Standardization

In [65]:
from sklearn.preprocessing import StandardScaler

sd = StandardScaler()

Xtrain_scaled = sd.fit_transform(Xtrain)
Xtest_scaled = sd.fit(Xtest)

## Logistic Regression Model

In [69]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()

lr.fit(Xtrain, ytrain)

D:\Bootcamp\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [70]:
ypred = lr.predict(Xtest)

In [71]:
ypred

array(['white', 'white', 'white', ..., 'white', 'white', 'red'],
      dtype=object)

In [72]:
ytest

37      white
3182    white
4810    white
4228    white
5975      red
        ...
6185      red
5786      red
785     white
2924    white
154     white
Name: type, Length: 1066, dtype: object

In [73]:
from sklearn.metrics import accuracy_score

In [74]:
accuracy_score(ytest, ypred)

0.9812382739212008